@import "../../_variables"
@import "../../../../../node_modules/nib/lib/nib/index"

.form:global(.small)
    min-height 400px
    max-height 99999999px
    display flex
    flex-flow row nowrap
    align-items center
    justify-content center
    text-align center
    
.loginButton
    width 100px
    height 45px
    
    color white
    background linear-gradient(top, rgba(black, 0) 0%, rgba(black, 0.2) 100%) fbblue
    
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: solid 1px #FFF;
    font-size: 12pt;
    padding: 10px;
    
    display flex
    align-content: space-between;
    align-items: center;
    justify-content: center;
    
    transition all 0.5s mdtiming
    cursor pointer
    &:hover
        background-color lighten(fbblue, 5)

    & > * 
        margin 0 5px
        
    :global(.mdi)
        font-size 18pt