.container
    display block
    overflow auto
    width 100%
    min-height 100%
    
.nav
    display block
    border-bottom solid 1px #bf2300
    
.name
    font-size 18pt
    &.cap
        margin 50px 25px 25px
    
.cap
    margin 0 25px
    max-width 1000px
    display block
    
.listItem
    color #bf2300
    margin 0 15px 5px 0
    display inline-block
    font-size 14pt
    cursor pointer
    &:hover
        color darken(#bf2300, 10)