@import "../../../_variables";

.container
    h4
        margin 15px 0
        padding 0    
        
.list
    display block
    margin 25px 0 
    > *
        margin 0 10px

.header
    margin -10px -10px 10px
    min-height cardheaderheight
    font-size 14pt
    padding 0 10px
    box-shadow 0 3px 5px rgba(black, 0.1)
    line-height cardheaderheight
    
.description
    display block
    margin 0 0 15px 20px
    text-indent 20px
    color #aaa