@import "../../_variables"

rad=5px
.container
    marg=15px
    display block
    border-radius rad
    box-shadow 0 3px 5px rgba(black, 0.2)
    background white
    height s("calc(%s - %s)", hundred, marg)
    margin (marg / 2) 0
    min-width 500px
    border solid 1px #eee

.input, .filter
    height 100%
    display inline-block
    margin 0
    padding 0
    position relative
    transform translate3D(0, 0, 0)
    
.input
    border-top-left-radius rad
    border-bottom-left-radius rad
    width 65%
    .inputElem
        width 100%
        height 100%
        border none
        text-indent 15px
        outline none
    
.filter
    border-top-right-radius rad
    border-bottom-right-radius rad
    width 35%
    
:global(.Dropdown)
    width 100%
    height 100%
    margin 0
    padding 0
    border-left solid 1px #eee
    text-align center
    :global(.Dropdown-control)
        width 100%
        height 100%
        position relative
        display flex
        align-items center
        justify-content flex-start
        font-size 10pt
        text-align center
        cursor pointer
        :global(.placeholder)
            width 100%
        :global(.Dropdown-arrow)
            position absolute
            border solid 5px transparent
            border-top-color black
            right 10px
            top 50%
            margin-top -2.5px
    :global(.Dropdown-menu)
        position absolute
        top 0
        left 0
        right 0
        background white
        padding 0
        box-shadow 0 3px 7px rgba(black, 0.2)
        :global(.Dropdown-option)
            font-size 12pt
            padding 5px 0
            background white
            transition all 0.5s mdtiming
            cursor pointer
            margin 10px 0
            text-shadow 0 1px 1px white
            &:hover
                background #eee
            &:global(.is-selected)
                background #ddd